* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



ul.menu {
    margin-top: 100px;
    display: inline-block;
    list-style-type: none;

}

li.menu_list {
    height: 151px;
    width: 85px;
    position: relative;
}

li.menu_list .front,
a.side {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 151px;
    width: 85px;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease-out;
    cursor: pointer;
}

li.menu_list .front {
    background-color: #B9C8EF;
    color: #A2CCE7;
    transform-origin: 0 0;
}
a.side {
    background-color: #A2CCE7;
    color: #34465d;
    transform-origin: 0 0 85px;
    transform: rotateY(-90deg);
}

li.menu_list:hover a.side {
    transform: rotateY(0deg);
}

li.menu_list:hover .front {
    transform: rotateY(90deg);
}

#maintext {
    text-align: center;
}

#maininfo {
    text-align: center;
}

#sideinfo {
    text-align: center;
}

header {
    width: 100%;
    height: 75px;
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: darkblue;
}

footer {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    background-color: darkblue;
}

main {
    align-items: center;
    align-content: center;
    display: flex;
    width: 100%;
    height: 80vh;
    background-color: #B9C8EF;
}

nav {
    width: 85px;
    height: 100%;
}

.contentblok {
    justify-content: center;
    padding-bottom: 2px;
    display: flex;
    width: 100%;
    background-color: plum;
}

form{
    margin-right: 85px;
    border-radius: 50px;
    align-items: center;
    display: flex;
    width: 30%;
    flex-direction: column;
    background-color: #B9C8EF;
}

input[type=text],
select,
textarea {
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
  }

  .container1{
    width: 20%;
    height: 100%;
    background-color: #04AA6D;
  }
  
.contentblok2{
    padding-top: 10px;
    justify-content: space-evenly;
    padding-bottom: 2px;
    height: 100%;
    width: 100%;
    background-color: plum;
}

.container-vluchtboeken{
    justify-content: space-around;
    display: flex;
    width: 100%;
    height: 50%;
    /* background-color: purple; */
}

.container-vluchtboeken2{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50%;
    /* background-color: green; */
}
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}
.about-us-title{
    text-align: center;
    background-color: #A2CCE7 ;
    border-radius: 10px;
    padding:10px;
    margin-top:10px;
}
.about-us-text{
    background-color:#A2CCE7;
    text-align: center;
    background-color: #A2CCE7 ;
    border-radius: 10px;
    padding:10px;    
    margin-top:10px;
}

.bepisfoto {
    width: 100px;
    height: 100px;
}

#header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    transition: top 0.3s;
}