* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul.menu {
    margin-top: 100px;
    display: inline-block;
    list-style-type: none;

}

li.menu_list {
    height: 196px;
    width: 85px;
    position: relative;
}

li.menu_list .front,
a.side {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 21vh;
    width: 85px;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease-out;
    cursor: pointer;
}

li.menu_list .front {
    background-color: #B9C8EF;
    color: #A2CCE7;
    transform-origin: 0 0;
}

a.side {
    background-color: #A2CCE7;
    color: #34465d;
    transform-origin: 0 0 85px;
    transform: rotateY(-90deg);
}

li.menu_list:hover a.side {
    transform: rotateY(0deg);
}

li.menu_list:hover .front {
    transform: rotateY(90deg);
}



header {
    width: 100%;
    height: 75px;
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: darkblue;
}

footer {
    /* margin-top: 100px; */
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    background-color: darkblue;
}

main {
    background-image: url('https://wallpaper.dog/large/10733049.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    align-items: center;
    align-content: center;
    display: flex;
    width: 100%;
    height: 92vh;
    background-color: #B9C8EF;
}

nav {
    width: 85px;
    height: 100%;
}

.contentblok {
    justify-content: center;
    padding-bottom: 2px;
    display: flex;
    width: 100%;
}

form {
    margin-right: 85px;
    border-radius: 50px;
    align-items: center;
    display: flex;
    width: 30%;
    flex-direction: column;
    background-color: #B9C8EF;
}

input[type=text],
select,
textarea {
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container1 {
    border-radius: 15px;
    width: 15%;
    height: 100%;
    background-color: rgba(67, 67, 67, 0.799);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.contentblok2 {
    padding-top: 10px;
    justify-content: space-evenly;
    padding-bottom: 2px;
    height: 100%;
    width: 100%;
    /* background-color: plum; */
}

.container-vluchtboeken {
    margin-top: 1%;
    justify-content: space-around;
    display: flex;
    width: 100%;
    height: 45%;
    /* background-color: purple; */
}

.container-vluchtboeken2 {
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 45%;
    /* background-color: green; */
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.about-us-title {
    text-align: center;
    background-color: #A2CCE7;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.about-us-text {
    background-color: #A2CCE7;
    text-align: center;
    background-color: #A2CCE7;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.fototemplatebox {
    border-radius: 15px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    height: 50%;
}

.fototemplate {
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.tekstvakreistemplate {
    height: 30%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.buttontemplate {
    background-color: #FFFC00;
    width: 90%;
    height: 40%;
}

.buttontemplate:hover {
    cursor: pointer;
    background-color: #fffb007e;
}

.templateboekknop {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 24%;
}


#header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    transition: top 0.3s;
}

 


.overons-stukjetekst1 {
    background-color: #A2CCE7;
    text-align: center;
    background-color: #A2CCE7;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}
.homepage-blok{
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
}

.homepage-contentblok{
    border-radius: 15px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: url('https://wallpaperaccess.com/full/7158839.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 6%;
    width: 80%;
    height: 80%;
    background-color: #45a049;
}

#homepage-text{
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
}

.home-pageblok{
    border-radius: 15px;
    margin: 15px;
    width: 80%;
    height: 80%;
    background-color: #45a049;
}


html{
    scroll-behavior: smooth;
}

#main-homepage{
    width: 100%;
    height: 150vh;
}

.vakantie-blok{
    width: 100%;
    height: 100%;
}

#pic{
    height:250px;
    width:200px;
}

.stukje-eronder2{
    display:flex;
    flex-direction:row;
    background-color:#A2CCE7;
    border-radius: 10px;
    margin-top:10px;
}

.stukje-eronder3{
    display:column;
    flex-direction:row;
    text-align:center;    
}

#pijlknop{
    width: 30px;
    height: 30px;
    display:flex;
}

.vakantie-blok{
    width: 100%;
    height: 100%;
}

#slideshow{
    width: 100%;
    height: 100%;
}

.vakantieblok-foto{
    width: 50%;
    height: 100%;
    background-color: #FFFC00;
}