* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul.menu {
    margin-top: 100px;
    display: inline-block;
    list-style-type: none;

}

li.menu_list {
    height: 143px;
    width: 85px;
    position: relative;
    background-color: #B9C8EF;
}

.opvulling{
    position: absolute;
    height: 143px;
    width: 85px;
    background-color: #B9C8EF;
}

li.menu_list .front,
a.side {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 153%;
    width: 85px;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease-out;
    cursor: pointer;
}

li.menu_list .front {
    background-color: #B9C8EF;
    color: #A2CCE7;
    transform-origin: 0 0;
    
}


a.side {
    background-color: #A2CCE7;
    color: #34465d;
    transform-origin: 0 0 85px;
    transform: rotateY(-90deg);
}

li.menu_list:hover a.side {
    transform: rotateY(0deg);
}

li.menu_list:hover .front {
    transform: rotateY(90deg);
}

header {
    width: 100%;
    height: 75px;
    z-index: 1;
    display: flex;
    justify-content: center;
    background-color: darkblue;
}

footer {
    /* margin-top: 100px; */
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    background-color: darkblue;
}

main {
    background-image: url('https://wallpaper.dog/large/10733049.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    align-items: center;
    align-content: center;
    display: flex;
    width: 100%;
    height: 92vh;
    background-color: #B9C8EF;
}

nav {
    width: 85px;
    height: 100%;
}

.contentblok {
    justify-content: center;
    padding-bottom: 2px;
    display: flex;
    width: 100%;
}

.contact-reviewform {
    justify-content: center;
    margin: 15px;
    margin-right: 85px;
    border-radius: 30px;
    align-items: center;
    display: flex;
    width: 30%;
    height: 500px;
    flex-direction: column;
    background-color: #B9C8EF;
}

input[type=text],
select,
textarea {
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=password],
select,
textarea {
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container1 {
    border-radius: 15px;
    width: 15%;
    height: 100%;
    background-color: rgba(67, 67, 67, 0.799);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.contentblok2 {
    padding-top: 10px;
    justify-content: space-evenly;
    padding-bottom: 2px;
    height: 100%;
    width: 100%;
    /* background-color: plum; */
}

.container-vluchtboeken {
    margin-top: 1%;
    justify-content: space-around;
    display: flex;
    width: 100%;
    height: 45%;
    /* background-color: purple; */
}

.container-vluchtboeken2 {
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 45%;
    /* background-color: green; */
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.about-us-title {
    text-align: center;
    background-color: #A2CCE7;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.about-us-text {
    background-color: #A2CCE7;
    text-align: center;
    background-color: #A2CCE7;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.fototemplatebox {
    border-radius: 15px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    height: 50%;
}

#fototemplate {
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.tekstvakreistemplate {
    align-items: center;
    display: flex;
    height: 7%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.buttontemplate {
    background-color: #FFFC00;
    width: 90%;
    height: 40%;
}

.buttontemplate:hover {
    cursor: pointer;
    background-color: #fffb007e;
}

.templateboekknop {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 24%;
}


#header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    transition: top 0.3s;
}

.searchbar {
	width: 300px;
	display: flex;
	flex-direction: row;
    margin-top: 100px;
} 


.overons-stukjetekst1 {
    background-color: #A2CCE7;
    text-align: center;
    background-color: #A2CCE7;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}


.homepage-blok{
    /* background-image:"img/sunnybeach.jpg"; */
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: #62b2b7; */
}

.homepage-contentblok{
    border-radius: 15px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: url('https://wallpaperaccess.com/full/7158839.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 6%;
    width: 80%;
    height: 80%;
    background-color: #45a049;
}

#homepage-text{
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
}

.home-pageblok{
    border-radius: 15px;
    margin: 15px;
    width: 80%;
    height: 80%;
}


html{
    scroll-behavior: smooth;
}

#main-homepage{
    width: 100%;
    height: 150vh;
}

.vakantie-blok{
    width: 100%;
    height: 100%;
}

#pic{
    height:250px;
    width:200px;
}

.stukje-eronder2{
    display:flex;
    flex-direction:row;
    background-color:#A2CCE7;
    border-radius: 10px;
    margin-top:10px;
}

.stukje-eronder3{
    display:column;
    flex-direction:row;
    text-align:center;
    width: 100vh;    
}

#pijlknop{
    width: 30px;
    height: 30px;
    display:flex;
}

.vakantie-blok{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#slideshow{
    width: 100%;
    height: 100%;
}

.vakantieblok-foto{
    border-radius: 15px;
    width: 100%;
    height: 100%;

}
.vakantie-foto{
    width: 50%;
    height: 50%;
    border-radius: 15px;
}

#vakantieimg2{
    width: 100%;
    height: 331.8px;
    border-radius: 15px;
}

#vakantieimg{
    width: 100%;
    height: 331.8px;
    border-radius: 15px;
}

.vakantietekst{
    margin-top: 15px;
    justify-content: center;
    display: flex;
    align-items: center;
    align-content: center;
    border-radius: 15px;
    width: 100%;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    background-color: #62b2b7;
}

.tekstvakantie{
  font-size: 50px;
}

.blok1{
    margin: 15px;
    width: 50%;
    height: 50%;
}

.blok2{
    margin: 15px;
    width: 50%;
    height: 50%;
}

#formulier {
    display: flex;
    justify-content: space-around;
    background-color: #B9C8EF;
    height: 350px;
    border-radius: 10px;
}
#formulier-register {
    display: flex;
    justify-content: space-around;
    background-color: #B9C8EF;
    height: 450px;
    border-radius: 10px;
}
#admin-main {
    height: 90vh;
    background-image: url("../img/PIZZAMAN.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-size: 100% 100%;
}
.admin-powers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
}

h2 {
    text-align: center;
}

.searchblok {
    flex-direction: column;
    display: flex;
    align-items:flex-end;
    width: 100%;
    height: 7%;
}

#login {
    justify-content: center;
    margin: 15px;
    margin-right: 85px;
    border-radius: 30px;
    align-items: center;
    display: flex;
    width: 30%;
    height: 500px;
    flex-direction: column;
    background-color: #B9C8EF;
}

.info-over-rijzen{
    justify-content: space-around;
    align-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
}

.info-over-rijzen-blok{
    border-radius: 15px;
    width: 500px;
    height: 600px;
    background-color: white;
}

.info-foto-styling{
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    border-radius: 15px;
    width: 100%;
    height: 300px;
}

.info-foto-styling1{
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    border-radius: 15px;
    width: 100%;
    height: 50%;
}

.info-foto-styling2{
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    border-radius: 15px;
    width: 100%;
    height: 50%;
}

.info-bestemmingen-tekst{
    font-size: larger;
    align-items: center;
    display: flex;
    margin: 15px;
    border-radius: 15px;
    height: 270px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}